[submodule "content/windows/wsl"]
	path = content/windows/wsl
	url = https://github.com/LingMethodsHub/wsl.git
[submodule "content/cli/keyboarding"]
	path = content/cli/keyboarding
	url = https://github.com/LingMethodsHub/keyboarding.git
[submodule "content/contributing/template"]
	path = content/contributing/template
	url = https://github.com/LingMethodsHub/template.git
[submodule "content/R/lvc_r"]
	path = content/R/lvc_r
	url = https://github.com/LingMethodsHub/lvc_r.git
[submodule "content/tools/mfa/mfa-tutorial"]
	path = content/tools/mfa/mfa-tutorial
	url = https://github.com/LingMethodsHub/mfa-tutorial.git
[submodule "content/tools/autovot/autovot-tutorial"]
	path = content/tools/autovot/autovot-tutorial
	url = https://github.com/LingMethodsHub/autovot-tutorial.git
[submodule "content/cli/bash-shell-basics"]
	path = content/cli/bash-shell-basics
	url = https://github.com/LingMethodsHub/bash-shell-basics.git
[submodule "content/R/vowel-plots-tutorial"]
	path = content/R/vowel-plots-tutorial
	url = https://github.com/LingMethodsHub/vowel-plots-tutorial.git
[submodule "content/R/tidy-norm"]
	path = content/R/tidy-norm
	url = https://github.com/LingMethodsHub/tidy-norm.git
