[submodule "content/windows/wsl"]
	path = content/windows/wsl
	url = https://github.com/LingMethodsHub/wsl.git
[submodule "content/cli/keyboarding"]
	path = content/cli/keyboarding
	url = https://github.com/JoFrhwld/keyboarding.git
